<!DOCTYPE html>
<html {{#site.language}}lang="{{.}}"{{/site.language}}>
<head>
    <meta charset="utf-8">
    {{#page.noindex}}<meta name="robots" content="noindex">{{/page.noindex}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="canonical" href="{{page.permalink}}">
    {{#page.hreflang}}
    <link rel="alternate" hreflang="{{lang}}" href="{{url}}">
    {{/page.hreflang}}
    {{#page.prev}}<link rel="prev" href="{{permalink}}">{{/page.prev}}
    {{#page.next}}<link rel="next" href="{{permalink}}">{{/page.next}}
    
    <title>{{#page.title}}{{.}} - {{site.name}}{{/page.title}}{{^page.title}}{{site.name}}{{/page.title}}</title>
    <meta name="description" content="{{page.description}}">
    
    <meta property="og:url" content="{{page.permalink}}">
    <meta property="og:title" content="{{#page.title}}{{.}} - {{site.name}}{{/page.title}}{{^page.title}}{{site.name}}{{/page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{baseUrl}}/images/meta.jpg" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{#page.title}}{{.}} - {{site.name}}{{/page.title}}{{^page.title}}{{site.name}}{{/page.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image" content="{{baseUrl}}/images/meta.jpg">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Aldrich&display=swap" rel="stylesheet">

    <link rel="stylesheet" media="screen" href="{{baseUrl}}/css/theme.css">

    {{#page.css}}<link rel="stylesheet" href="{{.}}">{{/page.css}}

    

</head>

<body>

    <header id="navigation">
        <a href="/">
            <picture>
                <img
                    src="{{baseUrl}}/logos/ltcus.png"
                    alt="Logo of {{site.name}}"
                    title="{{site.name}}"
                >
            </picture>
        </a>
        <nav>
            <input type="checkbox" id="primary-menu-button" name="menu-button" class="menu-button">
            <label for="primary-menu-button">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </label>
            <div class="menu-items">
                {{#site.navigation}}
                <a href="{{url}}"{{#class}} class="{{.}}"{{/class}}>{{label}}</a>
                {{/site.navigation}}
            </div>
        </nav>
    </header>


    <main id="page-container">
    {{$main}}{{/main}}
    </main>

    <footer class="grid grid-421">
        <div>
            <img
                width="196px"
                src="{{baseUrl}}/logos/ltcus.png"
                alt="Logo of {{site.name}}"
                title="{{site.name}}"
            >
        </div>
        <div>
            <h4>Lorem ipsum</h4>
            <ul>
                <li><a href="#">foo bar baz</a></li>
                <li><a href="#">foo bar baz</a></li>
                <li><a href="#">foo bar baz</a></li>
                <li><a href="#">foo bar baz</a></li>
            </ul>
        </div>
        <div>
            <h4>Lorem ipsum</h4>
            <ul>
                <li><a href="#">foo bar baz</a></li>
                <li><a href="#">foo bar baz</a></li>
                <li><a href="#">foo bar baz</a></li>
                <li><a href="#">foo bar baz</a></li>
            </ul>
        </div>
        <div>
            <h4>Lorem ipsum</h4>
            <ul>
                <li><a href="#">ICON</a></li>
                <li><a href="#">ICON</a></li>
                <li><a href="#">ICON</a></li>
                <li><a href="#">ICON</a></li>
            </ul>
        </div>
        
    </footer>

    {{#page.js}}<script src="{{.}}" async></script>{{/page.js}}

</body>
</html>