:root {
    --swift: #F05138;
    
    --color-primary: #DE5D43;
    --color-border: #C2543F;
    --color-secondary: #FBB040;
    --color-tertiary: #FF3527;
    
    --color-button-text: #CD563E;
    --color-button-background: #FAEEEB;
    --color-button-border: #F4D8D1;

    --color-heading-primary: #222;
    
    --color-text-primary: #606060;
    --color-background-primary: #fff;
    --color-border-primary: #f9f9f9;

    --color-text-secondary: #444;
    --color-background-secondary: #e6e6e6;
    --color-border-secondary: #ccc;

    --color-text-tertiary: #222;
    --color-background-tertiary: #d0d0d0;
    --color-border-tertiary: #f9f9f9;

    --color-text-panel: #606060;
    --color-background-panel: rgba(204, 204, 204, 0.1);
    --color-border-panel: rgba(204, 204, 204, 0.9);
    
    --color-text-card: #606060;
    --color-background-card: #f6f6f6;
    --color-border-card: rgba(204, 204, 204, 0.9);
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #DE5D43;
        --color-border: #E3755F;
        --color-secondary: #FBB040;
        --color-tertiary: #FF3527;

        --color-button-text: #DE5D43;
        --color-button-background: #170907;
        --color-button-border: #351610;

        --color-heading-primary: #c9c9c9;
        
        --color-text-primary: #909090;
        --color-background-primary: #000;
        --color-border-primary: #101010;

        --color-text-secondary: #d0d0d0;
        --color-background-secondary: #222;
        --color-border-secondary: #666;

        --color-text-tertiary: #909090;
        --color-background-tertiary: #444;
        --color-border-tertiary: #101010;  
        
        --color-text-panel: #606060;
        --color-background-panel: rgba(51, 51, 51, 0.1);
        --color-border-panel: rgba(102, 102, 102, 0.8);

        --color-text-card: #606060;
        --color-background-card: #101010;
        --color-border-card: rgba(102, 102, 102, 0.8);
    }
}

:root {
    --font-size: 1.25rem;
    --line-height: 1.5rem;
}
@media screen and (min-width: 600px) {
    :root {
        --font-size: 1.25rem;
    }
}
@media screen and (min-width: 900px) {
    :root {
        --font-size: 1.5rem;
    }
}
@media screen and (min-width: 1200px) {
    :root {
        
    }
}
@media screen and (min-width: 1500px) {
    :root {
        
    }
}
@media screen and (min-width: 1800px) {
    :root {
        
    }
}

* {
    margin: 0;
    padding: 0
}
html,body {
    overflow-x: hidden;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
}
html {
    font-size: var(--font-size);
}
body {
    font-family: "Afacad", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: var(--line-height);
}
main {
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Aldrich", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: var(--color-heading-primary);
}
h1 {
    font-size: 3.5rem;
    line-height: 4.5rem;
    white-space: pre-line; 
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}
h3 {
    font-size: 2rem;
    line-height: 3rem;
}
h4 {
    font-size: 2rem;
    line-height: 3rem;
}
h5 {
    font-size: 1.5rem;
    line-height: 3rem;
}
h6 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
    margin-top: 0;
}
p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
a {
    text-decoration: none;
}
a:hover, a:active {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #444;
}
a:link {
    color: var(--color-primary);
}
a:visited {
    color: var(--color-primary);
}
ul, ol {
    padding-left: 1.5rem;
    
}
li ul, li ol {
    margin-top: 0;
    margin-bottom: 0;
}
article {
    margin-bottom: 4rem;
}
ul, ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
strong {
    font-weight: bold;
}

article img {
    border-radius: 0.5rem;
    width: 100%;
}
.grid {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-column: span 1;
    grid-template-columns: repeat(1, 1fr);
}
.grid.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 600px) {
    .grid.grid-221, .grid.grid-321, .grid.grid-421 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 900px) {
    .grid.grid-211 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid.grid-311, .grid.grid-321 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid.grid-411, .grid.grid-421 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.wrapper {
    padding: 0 1rem;
    max-width: 720px;
    margin: 0 auto;
}
.wrapper > *:first-child {
    margin-top: 0;
    padding-top: 1.5rem;
}

h1 {
    margin-top: 0;
    text-wrap: balance;
}

.grid .next, .grid .prev {
    background: var(--color-background-card);
    color: var(--color-text-card);
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;    
}
.grid .next p, .grid .prev p {
    margin-bottom: 0;
}
.grid .next {
    text-align: right;
}
.grid .prev:hover, .grid .next:hover {
    text-decoration: none;
}
.grid .prev p.link, .grid .next p.link,
.grid .prev p.arrow, .grid .next p.arrow {
    color: var(--color-primary);
}
.grid .prev:hover p.link, .grid .next:hover p.link {
    text-decoration: underline;
    text-decoration-color: #444;   
}
.grid .prev p.link, .grid .next p.link {
    margin-top: 0;
}


#navigation {
    margin-top: 16px;
    overflow: hidden;
    border-bottom: 3px solid var(--background-color-1);
}
#navigation > a {
    display: block;
    line-height: 0;
    padding: 8px;
    text-align: center;
}
#navigation > a img {
    height: 44px;
    width: auto;
}
#navigation nav svg {
    width: 24px;
    height: 24px;
}
#navigation #primary-menu-button {
    display: none;
}
#navigation #primary-menu-button + label {
    position: absolute;
    top: 22px;
    left: 0;
    margin: 0;
    line-height: 0;
    padding: 12px;
}
#navigation #primary-menu-button + label:hover {
    cursor: pointer;
}
#navigation .menu-items {
    max-height: 0px;
    transition: max-height .3s ease-in-out 0s;
    margin-top: 6px;
}
#navigation .menu-items a {
    display: block;
    padding: 16px;
    border-top: 0.5px solid var(--background-color-1);
    color: var(--text-color);
}
#navigation .menu-items a:hover {
    color: var(--link-color-hover)
}
#navigation input:checked ~ .menu-items {
    max-height: 999px;
}
#navigation line {
    transition: transform .3s ease-in-out 0s;
    transform-origin: 50% 50%;
}
#navigation input:checked ~ label line:nth-child(1) {
    transform: translateX(-50px);
}
#navigation input:checked ~ label line:nth-child(2) {
    transform: rotate(45deg) translateY(6px);
}
#navigation input:checked ~ label line:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px);
}
@media screen and (min-width: 600px) {
    #navigation {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    #navigation > a {
        grid-column: span 1;
    }
    #navigation nav {
        overflow: hidden;
        grid-column: span 1;
    }
    #primary-menu-button ~ label {
        display: none;
    }
    #navigation nav .menu-items {
        display: block;
        max-height: none;
        text-align: right;
        padding: 8px;
    }
    #navigation nav .menu-items a {
        padding: 8px;
        display: inline-block;
        border: none;
    }
}
