:root {
    --color-text-primary: #b5b4b6;
    --color-text-secondary: #fff;
    --color-background-primary: #000;
    --color-border-primary: #999;
    --color-border-secondary: #EB6A24;

    --font-family-afacad: "Afacad", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --font-family-aldrich: "Aldrich", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    --font-size-72-pixel: 4.5rem;
    --font-size-48-pixel: 3rem; 
    --font-size-32-pixel: 2rem; 
    --font-size-28-pixel: 1.75rem;
    --font-size-24-pixel: 1.5rem; 
    --font-size-20-pixel: 1.25rem;
    --font-size-16-pixel: 1rem;
    --font-size-14-pixel: 0.875rem;

    --line-height: 120%;
    
    --color-primary: #DE5D43;
    --color-border: #E3755F;
    --color-secondary: #FBB040;
    --color-tertiary: #FF3527;

    --color-button-text: #DE5D43;
    --color-button-background: #170907;
    --color-button-border: #351610;

    

}
@media screen and (min-width: 600px) {
    :root {
        --font-size-16-pixel: 1rem;
    }
}
@media screen and (min-width: 900px) {
    :root {
        --font-size-16-pixel: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    :root {
        
    }
}
@media screen and (min-width: 1500px) {
    :root {
        
    }
}
@media screen and (min-width: 1800px) {
    :root {
        
    }
}

* {
    margin: 0;
    padding: 0
}
html, body {
    overflow-x: hidden;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
}
html {
    font-size: var(--font-size-16-pixel);
}
body {
    font-family: var(--font-family-afacad);
    line-height: var(--line-height);
}
main {
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-secondary);
    font-family: var(--font-family-aldrich);
    line-height: var(--line-height);
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0;
    text-wrap: balance;
    white-space: pre-line; 
    
}
h1 {
    font-size: var(--font-size-72-pixel);
}
h2 {
    font-size: var(--font-size-48-pixel);
}
h3 {
    font-size: var(--font-size-32-pixel);
}
h4 {
    font-size: var(--font-size-28-pixel);
}
h5 {
    font-size: var(--font-size-24-pixel);
}
h6 {
    font-size: var(--font-size-20-pixel);
}

p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
a {
    font-family: var(--font-family-aldrich);
    font-weight: 400;
    text-decoration: none;
}
a:hover, a:active {
    cursor: pointer;
}
a:link {
    color: var(--color-primary);
}
a:visited {
    color: var(--color-primary);
}
ul, ol {
    padding-left: 20px;
}
li ul, li ol {
    margin-top: 0;
    margin-bottom: 0;
}
article {
    margin-bottom: 40px;;
}
ul, ol {
    margin-top: 20px;
    margin-bottom: 20px;;
}
strong {
    font-weight: 500;
}

.grid {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-column: span 1;
    grid-template-columns: repeat(1, 1fr);
}
.grid.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 600px) {
    .grid.grid-221, .grid.grid-321, .grid.grid-421 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 900px) {
    .grid.grid-211 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid.grid-311, .grid.grid-321 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid.grid-411, .grid.grid-421 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.wrapper {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}

#navigation nav {
    overflow: hidden;
}
#navigation #primary-menu-button {
    display: none;
}
#navigation #primary-menu-button + label {
    position: absolute;
    top: 30px;
    left: 0;
    line-height: 0;
    padding: 0;
    width: 100%;
}
#navigation #primary-menu-button + label:hover {
    cursor: pointer;
}
#navigation .menu-items {
    padding: 0;
    margin-top: 70px;
    max-height: 0px;
    transition: max-height .3s ease-in-out 0s;
}
#navigation .menu-items a {
    display: block;
    padding: 20px 10px;
    color: var(--color-text-secondary);
}
#navigation .menu-items a:hover {
    color: var(--color-text-primary);
}
#navigation input:checked ~ .menu-items {
    max-height: 999px;
}
#navigation line {
    transition: transform .3s ease-in-out 0s;
    transform-origin: 50% 50%;
}
#navigation input:checked ~ label line:nth-child(1) {
    transform: translateX(-50px);
}
#navigation input:checked ~ label line:nth-child(2) {
    transform: rotate(45deg) translateY(6px);
}
#navigation input:checked ~ label line:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px);
}
@media screen and (min-width: 600px) {
    #navigation {
        padding: 20px;
    }
    #navigation #primary-menu-button ~ label {
        display: none;
    }
    #navigation .menu-items {
        display: block;
        max-height: none;
        text-align: right;
        padding: 20px;
        margin-top: 0;
    }
    #navigation .menu-items a {
        display: inline-block;
        border: none;
        padding: 0px 10px;
    }
}

.button {
    text-align: center;
    padding: 10px 20px;
    margin: 0;
}
.button.primary {
    color: #f5f5f5;
    background: linear-gradient(89.54deg, #DC4200 0.4%, #FF7226 99.6%);
    border: 1px solid #EF8A34;
}
.button.primary:hover {
    background: linear-gradient(89.54deg, #AF3906 0.4%, #F75C09 99.6%);
    border: 1px solid #CB4E22;
}
.button.primary:active {
    background: linear-gradient(89.54deg, #DC4200 0.4%, #FF7226 99.6%);
    border: 1px solid #EF8A34;
}
.button.secondary {
    color: #FF7226;
    background: #4B4B4C;
    border: 1px solid #CDA779;
}
.button.secondary:hover {
    background: #2E2E2F;
    border: 1px solid #AF885A;
}
.button.secondary:active {    
    background: #4B4B4C;
    border: 1px solid #DFB37F;
}

.hero {
    background: url(../images/Hero.png);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    text-align: center;
}
.hero .wrapper {
    max-width: 720px;
}

.hero .logo-box {
    text-align: center;
    position: relative;
    height: 140px;
}
.hero .wrapper img {
    width: 200px;
    position: relative;
    top: 0;
    left: 0;
}   
.button {
    display: block;
    margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
    .button {
        display: inline-block;
    }
    .button ~ .button {
        margin-left: 20px;
    }
}
@media screen and (min-width: 1200px) {
    .hero .logo-box {
        text-align: left;
        position: relative;
        height: 120px;
    }
    .hero .wrapper img {
        width: 400px;
        position: absolute;
        top: -100px;
        left: -260px;
    }
    
}
.hero .wrapper h1 {
    font-family: var(--font-family-afacad);
    text-transform: uppercase;
    margin-top: 0;
    margin-top: 60px;
}
.hero .wrapper p {
    font-family: var(--font-family-aldrich);
    font-size: var(--font-size-32-pixel);
    line-height: var(--line-height);
    font-weight: 400;
    margin-bottom: 40px;
}
.hero .wrapper .features {
    margin-top: 80px;
}
.hero .wrapper span {
    font-family: var(--font-family-afacad);
    font-size: var(--font-size-16-pixel);
    line-height: var(--line-height);
    font-weight: 400;
}


.caption {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #26252A;
}

.highlights {
    background: url(../images/Hero.png);
    background-size: cover;
    background-position: top right;
    padding: 80px 0;
}
.highlights h2 {
    max-width: 100%;
}
@media screen and (min-width: 600px) {
    .highlights h2 {
        max-width: 50%;
    }
}
.highlights .grid {
    margin-top: 40px;
}
.highlights .grid h3 {
    font-size: var(--font-size-28-pixel);
    line-height: var(--line-height);
    border-left: 1px dashed var(--color-border-secondary);
    padding-left: 20px;
}
.highlights .grid p {
    font-size: var(--font-size-20-pixel);
    line-height: 135%;
}


.book {
    background: url(../images/Hero.png);
    background-size: cover;
    background-position: top right;
    padding: 80px 0;   
}
.book > .wrapper > h2 {
    text-align: center;
    margin-top: 10px;
}
.book > .wrapper > p {
    font-family: var(--font-family-aldrich);
    font-size: var(--font-size-20-pixel);
    line-height: var(--line-height);
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
}
.book > .wrapper .grid {
    margin-top: 80px;
}
.book > .wrapper img {
    display: block;
    width: 100%;
}
.book > .wrapper dl {
    margin-bottom: 40px;
    margin-left: 50px;
}

.book > .wrapper dl dt {
    font-family: var(--font-family-aldrich);
    font-size: var(--font-size-24-pixel);
    line-height: var(--line-height);
    color: var(--color-text-secondary);
    margin-bottom: 10px;
    position: relative;   
}
.book > .wrapper dl dt::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 6px;
    width: 28px;
    height: 27px;
    background: url("../images/Polygon.png") no-repeat center / contain;
}
@media screen and (min-width: 600px) {
    .book > .wrapper dl {
        margin-left: 0;
    }
}
.book > .wrapper dl dd {
    font-size: var(--font-size-20-pixel);
    line-height: var(--line-height);
    margin-bottom: 40px;
}


.testimonials, .authors, .chapters, .callout, .faq, .contact {
    background: url(../images/Hero.png);
    background-size: cover;
    background-position: top right;
    padding: 80px 0;   
}

.testimonials h2 {
    margin-bottom: 80px;
}

.testimonials h2 span {
    color: var(--color-border-secondary);
}

@media screen and (min-width: 600px) {
    .testimonials h2 {
        max-width: 50%;
    }
}

.testimonials .grid > * {
    border: 1px dashed var(--color-border-secondary);
    padding: 20px;
    margin: 20px;
}



.testimonials .grid .source {
    padding-bottom: 20px;
    display: flex;
    align-items: center; 
}
.testimonials .grid img {
    width: 40px;
    background: #eee;
    margin: 0 10px;
}
.testimonials .grid .source span.name {
    font-family: var(--font-family-afacad);
    font-size: var(--font-size-16-pixel);
    line-height: var(--line-height);
    display: block;
}

.testimonials .grid .source span.info {
    font-family: var(--font-family-afacad);
    font-size: var(--font-size-14-pixel);
    line-height: var(--line-height);
    display: block;
}

.testimonials .grid p {
    font-family: var(--font-family-afacad);
    font-size: var(--font-size-20-pixel);
    line-height: var(--line-height);
    color: var(--color-text-secondary);
    margin: 0;
}

.authors .grid img {
    width: 100%;
}